h1{
  text-align: center;
  font-size: 35px;
}

ul{
  font-size:20px;
}
p{
  text-align: center;
  font-size: 25px;
  font-family: times;
}
body{
  color:Black;
}

h2{
  font-weight:bold;
  font-style:italic;
  font-size: 25px;
  font-family: times;
}
html{
background-color: aqua;
}
