h1{
  text-align: center;
  font-size: 40px;
}

ul{
  font-size:20px;
  border-color: Black;
  border-width: medium;
  border-style: solid;
  background-color: white;
}
p{
  text-align: center;
  font-size: 25px;
  font-family: times;
  border-color: Black;
  border-width: medium;
  border-style: solid;
  background-color: white;
}
body{
  color:Black;
}

h2{
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  font-family: times;
  color: Black;
}

.SpongeBob{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmK3Fq59zg8tEdoXDNMaibVgYlpafbTO223XZCqaR72rm-urSl&s");
}

.Sandy{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFO8n5Q9JedY2PqIM4mqGJy2p0goCIRnoZYnT4uZG9ADB8xIG4&s");
}

.Squidward{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7i-FX5uH1eTJRFWRn7MueCmFk7yIwrObCv7ClDi9iWqN81__PbA&s");
}

.Plankton{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpDMHn1eujd6SKDVPFtff1JlzI22JWikwcazkL8z84LIQ2U55Hfw&s");
}

.Patrick{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7TKN5BsMHmvZoxX4kgzQ25dXfndTGMEHb66rsehxKkWAcUQuh&s");
}

.MrKrabs{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqMgL00osBFdwjg_0msHRozj6j-HbK1nV-UpasVQD5gu4ddhEm8A&s");
}

img{
  width: 615px;
  border-color: Black;
  border-width: thick;
  border-style: solid;
  background-color: white;

}

nav{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  border-color: Black;
  border-width: medium;
  border-style: solid;
  background-color: white;
}
